body {
    text-align: center;
    color: red;
    background-color: black;
}

img {
    height: auto;
    width: 500px;
}

ul, ol {
    list-style-position: inside;
    display: inline-block;
    text-align: left;
}